* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}



a {
    text-decoration: none;
}

.header-navigation-list {
    width: fit-content;
    padding: 25px 0;
    margin: 0 auto;
}


.content-wrapper {
    width: 1400px;
    color: #000000;
}

.header-navigation-item {

    display: inline-block;
    margin: 0 62px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.header-navigation-link {
    color: #000000;
}

.main-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    margin: 88px 0px 40px;
}

.highlighted {
    color: #04959E;
}

.paragraph {


    font-size: 21px;
    font-weight: 600;
    margin: 0px 24px 21px;
}

.picture {
    width: 1400px;
    height: 552px;
}

.text {

    font-size: 18px;
    font-weight: 400;
    margin: 0px 40px 18px;
}

.button {
    background-color: #04959E;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 40px 600px 92px;
}

.line {
    height: 1px;
    background-color: #161616;
    margin: 0px 0px 16px;
}

.footer {
    font-size: 18px;
    font-weight: 400;
    color: #161616;
    margin: 16px 600px 16px;
}